$headerWidth: 100px;
$footerWidth: 100px;
$margin: 330px;

.login-layout {
	#root {
		margin: 0;
	}

	display: flex;

	& > header {
		height: 100px;
	}

	& > main {
		/* 100% da altura vertical - a soma da altura do header + footer + margin deles*/
		height: 75%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	footer {
		height: 10%;
	}
	/*
	@media only screen and (max-width: 923px) {
		main {
			height: calc(100vh - 436px);
		}
		aside {
			flex: 1 1 100vw;
			height: 100px;
		}
	}
	*/
}
