$headerWidth: 100px;
$footerWidth: 100px;
$margin: 330px;

.login-layout {
	display: flex;

	& > header {
		height: 100px;
	}

	& > main {
		flex: 20 1 500px;
		background-color: green;
		/* 100% da altura vertical - a soma da altura do header + footer + margin deles*/
		height: calc(100vh - $margin);
	}

	footer {
		height: 100px;
	}

	@media only screen and (max-width: 923px) {
		main {
			height: calc(100vh - 436px);
		}
		aside {
			flex: 1 1 100vw;
			height: 100px;
		}
	}
}
