@import '../../../styles/default-styles';

@mixin default {
	background: var(--background);
	@include border;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

.nav {
	@include default;
}
